/* ---- 💫 https://github.com/JaKooLit 💫 ---- */
/* Main Config 1080p */

@import "~/.config/rofi/master-config.rasi" 

/* ---- Configuration ---- */
configuration {
	font: "JetBrainsMono Nerd SemiBold 12";
}

element-text {
    font:	"JetBrainsMono Nerd SemiBold 14";
}

